#headBox {
  width: auto;
  height: 125px;
  background-color: #CCCCCC;
  text-align: center;
}

#headNav a {
  padding: 10px;
  background-color: lightgrey;
}

#headNav a:hover{
  background-color: white;
}

.blogPost{
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
}

.date{
  font-weight: bold;
  padding-left: 250px;
}
